@charset "utf-8";

/* Important CSS */
.rs-degree.style1 .degree-wrap .content-part {
    width: calc(100% - 60px);
    height: calc(100% - 60px);
}
@media only screen and (min-width: 1440px) {
    .container {
        max-width: 1270px;
        width: 100%;
    }
}
@media only screen and (max-width: 1600px) {
    .full-width-header.header-style3.modify .rs-header .menu-area .logo-part {
        width: 250px;
    }
    .full-width-header.header-style3.modify .rs-header .menu-area .logo-part img {
        max-height: 30px;
    }
    .full-width-header.header-style3.modify .rs-header .menu-area .rs-menu-area {
        margin-right: 30px;
    }
}
@media only screen and (max-width: 1500px) {
    .rs-banner.style5 .banner-content .banner-title {
        font-size: 65px;
    }
    .rs-banner .left-shape {
        top: 30px;
        left: unset;
        right: -150px;
    }

    .full-width-header.header-style3 .rs-header .menu-area .menu-bg::before {
        width: 75%;
        left: 60%;
    }
    .full-width-header.header-style3 .rs-header .menu-area .logo-part {
        left: -75px;
    }
    .full-width-header.header-style3 .rs-header .logo-part img {
        max-height: 30px;
    }
    .rs-features .features-wrap {
        padding: 25px 30px 25px;
    }
}
@media only screen and (max-width: 1400px) {
    .full-width-header .rs-header .menu-area .expand-btn-inner li {
        margin-right: 7px;
    }
    .full-width-header .rs-header .menu-area .expand-btn-inner {
        margin-right: 50px;
    }
    .full-width-header .rs-header .menu-area .expand-btn-inner li {
        margin-right: 10px;
    }
    .full-width-header .rs-header .menu-area .expand-btn-inner li.cart-inner {
        margin-right: 10px;
        padding-right: 10px;
    }
    .full-width-header.header-style3 .rs-header .menu-area .logo-part {
        left: 0;
    }
    .full-width-header.header-style3 .rs-header .menu-area .logo-part .light-logo {
        display: none;
    }
    .full-width-header.header-style3 .rs-header .menu-area .logo-part .small-logo {
        display: block;
    }
    .full-width-header.header-style3 .rs-header .menu-area .rs-menu-area .rs-menu {
        padding-left: 30px;
    }
    .full-width-header.header-style3.modify .rs-header .menu-area .rs-menu-area .main-menu,
    .full-width-header.header-style3.modify .rs-header .menu-area .rs-menu-area .main-menu .rs-menu {
        padding: 0;
    }
    .full-width-header.header-style3.modify .rs-header .menu-area .logo-part .light-logo {
        display: block;
    }
    .full-width-header.header-style3.modify .rs-header .menu-area .logo-part .small-logo {
        display: none;
    }
    .full-width-header.header-style3 .rs-header .menu-area .menu-bg::before {
        left: 65%;
    }
    .rs-banner.style3 .banner-content .banner-title {
        font-size: 65px;
    }
    .rs-banner.style3 .banner-content .banner-image img {
        max-width: 560px;
    }
    .rs-banner .left-shape {
        top: 50px;
    }
}

@media only screen and (max-width: 1366px) {
    .container {
        max-width: 1170px;
        width: 100%;
    }
    .rs-footer .footer-bottom::before {
        max-width: 1140px;
    }
    .rs-features .features-wrap .icon-part img {
        width: 50px;
        margin: 0 25px 0 0;
    }
    .rs-blog.style1 .blog-short .content-part .title,
    .rs-blog.style1 .blog-item .blog-content .title {
        font-size: 22px;
        line-height: 32px;
    }
    .rs-inner-blog .widget-area .recent-posts-widget .show-featured .post-img {
        max-width: 140px;
    }
    .full-width-header .rs-header .menu-area .categories-btn .cat-menu-inner {
        top: 58px;
    }
    .full-width-header.header-style3.modify .rs-header .menu-area .logo-part {
        width: 200px;
    }
    .full-width-header.header-style3.modify .rs-header .menu-area .rs-menu-area {
        float: unset;
        margin-right: 0;
        margin-left: 75px;
    }
    .rs-banner.style4 {
        min-height: 900px;
    }
    .rs-banner.style4 .banner-content .banner-title {
        font-size: 65px;
    }
    .rs-banner.style5 {
        min-height: 700px;
    }
    .profile-section .content-column .student-list li {
        margin-right: 50px;
    }
}

@media only screen and (max-width: 1300px) {
    .full-width-header.header-style3.home11-modify2 .rs-header .menu-area .expand-btn-inner {
        margin-left: 30px;
    }
}

@media only screen and (max-width: 1199px) {
    .rs-categories.home11-style .img-part {
        background-size: 68%;
    }
    .rs-banner.style10 .banner-intro-box .shape-img img {
        width: 80px;
    }
    .rs-banner.style10 {
        min-height: 750px;
    }
    .rs-banner.style10 .banner-content .sl-title {
        font-size: 38px;
        line-height: 60px;
    }
    .rs-footer .footer-bottom::before {
        max-width: 930px;
    }
    .rs-banner.style10 .banner-intro-box .intro-img img {
        width: 500px;
    }
    .rs-banner.style10 .banner-intro-box .intro-img img {
        width: 400px;
    }
    .rs-banner.style10 .banner-intro-box .intro-img {
        right: 0%;
        top: 62px;
    }
    .rs-banner.style10 .img-part {
        max-width: 320px;
        position: absolute;
        top: 50px;
        left: unset;
        right: 0;
        z-index: 111;
    }
    .rs-faq-part.style1 .main-part .faq-content .accordion .card .card-header .card-link {
        padding: 0 43px;
    }
    .rs-faq-part.style1 .main-part.new-style {
        padding: 35px 35px 55px;
    }
    .rs-faq-part.style1 .main-part.new-style .title .text-part{
        font-size: 30px;
    }
    .rs-event .event-item.home12-style .event-short .content-part {
        padding: 25px 20px 30px 20px;
    }
    .rs-event .event-item.home12-style .event-short .content-part .title {
        font-size: 20px;
        line-height: 30px;
    }
    .rs-banner.style9 .banner-content .banner-title {
        font-size: 30px;
        line-height: 1.3;
    }
    .rs-banner.style9 {
        min-height: 400px;
    }
    .rs-banner.style9 .banner-content {
        max-width: 550px;
    }
    .rs-banner.style9 .shape-img{
        display: none;
    }
    .full-width-header .rs-header .topbar-area.home11-topbar .topbar-contact li {
        padding-right: 5px;
    }
    .rs-event.modify1 .event-item .event-short .content-part .title {
        font-size: 20px;
    }
    .rs-popular-courses.home11-style .courses-item .content-part .course-body .title {
        font-size: 19px;
        line-height: 1.2;
        margin-bottom: 6px;
    }
    .rs-features.style3 .features-item .content-part {
        padding: 10px 10px 0;
    }
    .rs-features.style3 .features-item .content-part .title {
        font-size: 19px;
        line-height: 29px;
        margin-bottom: 6px;
    }
    .rs-categories.home11-style .main-part .categories-item .icon-part {
        margin-right: 10px;
    }
    .rs-categories.home11-style .main-part .categories-item .content-part .title {
        font-size: 19px;
        line-height: 32px;
    }
    .why-choose-us.style2 .facilities-two .content-part .text-part .title {
        font-size: 19px;
        line-height: 30px;
    }
    .why-choose-us.style2 .facilities-two .content-part .icon-part {
        width: 75px;
        line-height: 75px;
        border-radius: 50%;
        margin-right: 15px;
    }
    .rs-newsletter.style2.home11-style .sec-title2 .title {
        font-size: 38px;
    }
    .rs-blog.style1 .events-short.new-style {
        padding: unset;
        border: none;
    }
    .rs-event.home8-style1 .event-item .event-short .content-part .title {
        font-size: 21px;
    }
    .rs-event.home8-style1 .event-item .event-short .content-part {
        padding: 30px 30px 25px 20px;
        text-align: center;
    }
    .rs-event.home8-style1 .event-item .event-short .content-part .time-sec {
        display: unset;
    }
    .rs-banner.style7 {
        min-height: 740px;
    }
    .rs-banner.style7 .banner-content .banner-title {
        font-size: 53px;
        line-height: 1.3;
    }
    .rs-banner.style7 .img-part {
        max-width: 600px;
    }
    .rs-banner.style7 .icons{
        display: none;
    }

    .rs-services.style7 .services-item .content-part {
        padding: 30px 20px;
    }
    .rs-services.style7 .services-item .content-part .icon-part {
        margin-bottom: 10px;
    }
    .rs-services.style7 .services-item .content-part .title {
        font-size: 20px;
        line-height: 1.4;
        margin-bottom: 5px;
    }
    .rs-services.style7 .services-item .content-part .desc {
        font-size: 15px;
    }
    .rs-featured-courses .courses-item .content-part .title {
        font-size: 21px;
        line-height: 31px;
    }
    .rs-featured-courses .courses-item {
        padding: 0px 28px;
    }
    .container {
        max-width: 960px;
    }
    .sec-title .title {
        font-size: 35px;
    }
    .rs-facilities .choose-part {
        max-width: 465px;
        padding: 70px 40px;
    }
    .rs-banner.style6 .shape-img.left {
        left: -35px;
        max-width: 230px;
    }
    .rs-banner.style6 .shape-img.right {
        right: -50px;
        max-width: 225px;
    }
    .rs-publication .product-list:hover .image-product .overley i {
        bottom: 215px;
    }
    .rs-event.modify1 .event-item .event-short .content-part .time-sec .timesec {
        margin-right: 0;
    }
    .rs-event.modify1 .event-item .event-short .content-part .time-sec {
        display: block;
    }
    .rs-event .event-item .event-short .content-part .title {
        margin-bottom: 15px;
    }
    .rs-event.modify2 .event-item .event-short .content-part {
        padding: 30px 20px;
        
    }
    .rs-services.style6 .services-wrap .services-item .services-desc .title {
        font-size: 21px;
        line-height: 26px;
    }
    .rs-services.style6 .services-wrap {
        padding: 40px 10px 40px;
    }
       .rs-event .event-item .event-short .content-part .title {
        font-size: 26px;
        line-height: 28px;
    }
    .rs-features .features-wrap {
        padding: 25px; 
    }
    .full-width-header .rs-header .menu-area .rs-menu-area {
        justify-content: right;
    }
    .full-width-header.home8-style4.main-home .expand-btn-inner .user-icon.last-icon {
        display: none;
    }
    .full-width-header.header-style3 .rs-header .menu-area .logo-part {
        left: 15px;
    }
    .full-width-header .rs-header .menu-area .expand-btn-inner li > a.short-border {
        padding-right: 10px;
    }
    .rs-banner.style4 {
        min-height: 850px;
    }
    .rs-banner.style4 .banner-content .banner-title {
        font-size: 55px;
    }
    .full-width-header .rs-header .menu-area .main-menu .rs-menu ul.nav-menu li {
        margin-right: 35px;
    }
    .full-width-header .rs-header .menu-area .main-menu .rs-menu ul.nav-menu li a {
        font-size: 12px;
    }
    .full-width-header .rs-header .menu-area .expand-btn-inner li.pl-30 {
        padding-left: 10px;
    }
    .rs-slider.style1 .slider-content .sl-sub-title {
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 15px;
    }
    .rs-slider.style1 .slider-content .sl-title {
        font-size: 75px;
        line-height: 85px;
    }
    .rs-banner.style2 .banner-content .sub-title {
        font-size: 35px;
        line-height: 1.2;
        margin-bottom: 15px;
    }
    .rs-banner.style2 .banner-content .banner-title {
        font-size: 75px;
        line-height: 1.2;
        margin-bottom: 30px;
    }
    .rs-banner.style3 {
        min-height: 500px;
    }
    .rs-banner.style3 .banner-content .banner-image img {
        max-width: 500px;
    }
    .rs-banner.style3 .banner-content .banner-title {
        font-size: 58px;
    }
    .rs-banner.style3 .banner-content .banner-desc br {
        display: none;
    }
    .rs-banner.style5 {
        min-height: 600px;
    }
    .rs-banner.style5 .banner-content {
        padding-bottom: 160px;
    }
    .rs-banner.style5 .banner-content .banner-title {
        font-size: 55px;
    }
    .rs-banner .left-shape {
        top: 100px;
    }
    .rs-banner.style1 .banner-content .banner-title {
        font-size: 45px;
    }

    .rs-breadcrumbs .breadcrumbs-img img {
        min-height: 350px;
    }
    .rs-breadcrumbs .breadcrumbs-text .page-title {
        font-size: 45px;
        margin-bottom: 10px;
    }
    .rs-degree.style1 .title {
        font-size: 28px;
    }
    .rs-blog.style1 .events-short .date-part .date {
        font-size: 15px;
    }
    .rs-latest-events.style1 .event-wrap .events-short {
        padding: 25px;
    }
    .rs-blog.style1 .blog-item .blog-content .title,
    .rs-blog.style1 .events-short .content-part .title {
        font-size: 20px;
    }
    .contact-page-section .contact-address-section .contact-info {
        padding: 0 15px;
    }
    .contact-page-section .contact-address-section .contact-info .icon-part {
        margin-right: 15px;
    }
    .contact-page-section .contact-address-section .contact-info .content-part .info-title {
        font-size: 20px;
    }
    .profile-section .content-column .student-list li {
        margin-right: 20px;
    }
    .rs-degree.style1.modify .sec-title .title {
        font-size: 28px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .rs-menu ul ul li > ul {
        left: unset;
        right: 100%;
    }
    .rs-features .features-wrap {
        padding: 20px 15px;
    }
    .rs-features .features-wrap .icon-part img {
        margin: 0 20px 0 0;
    }
    .rs-gallery.home11-style .gallery-part .gallery-img .gallery-info p {
        font-size: 14px;
    }
    .rs-gallery.home11-style .gallery-part .gallery-img .gallery-info .title-part {
        margin-bottom: 8px;
    }
    .full-width-header .rs-header .topbar-area .topbar-contact li {
        margin-right: 5px;
        padding-right: 12px;
    }
   .rs-banner.style8 .banner-content .sl-title {
    font-size: 80px;
    line-height: 90px;
    padding-right: 131px;
   }
    .rs-latest-couses .course-item .course-info .course-title {
        font-size: 18px;
        line-height: 30px;
    }
    .rs-counter.style-home8 .counter-item .rs-count {
        font-size: 36px;
    }
    .rs-counter.style-home8 .counter-item .title {
        font-size: 18px;
    }
    .rs-latest-couses .course-item .course-image a {
        width: 180px;
        height: 180px;
    }
    .rs-latest-couses .course-item .course-info {
        padding: 0px 15px;
    }
    .full-width-header.header-style3.modify .rs-header .menu-area .rs-menu-area {
        margin-right: 100px;
    }
    .full-width-header.header-style3.modify .rs-header .menu-area .expand-btn-inner .apply-btn {
        display: none;
    }
    .full-width-header.home1-modifiy .rs-header .topbar-area .topbar-contact li:last-child {
        border-right: none;
    }
    .full-width-header.home1-modifiy .rs-header .topbar-area .topbar-contact li {
       border: none;
       margin-right: 5px;
       font-size: 13px;
       padding-right: 0;
    }
    .intro-section .video-column .btn-part .btn {
        padding: 10px 25px;
    }
    .rs-event .event-item .event-short .content-part .title {
        font-size: 22px;
    }
    .rs-event .event-item .event-short .content-part {
        padding: 25px 15px 15px 25px;
    }
    .rs-degree.style1.modify .content-part .title {
        font-size: 22px;
        line-height: 1.4;
    }
    .rs-degree.style1.modify .degree-wrap .content-part {
        padding: 30px 15px 0;
    }
    .full-width-header .rs-header .topbar-area.home8-topbar .topbar-contact li i::before {
        font-size: 14px;
        color: #363636;
    }
    .full-width-header .rs-header .topbar-area.home8-topbar .topbar-contact li {
       padding-right: 0;
       margin-right: 0;
       font-size: 13px;
    }
    .rs-inner-blog .widget-area .recent-posts-widget .show-featured .post-img {
        margin-bottom: 15px;
    }
    .full-width-header.header-style3.home11-modify2 .rs-header .menu-area .rs-menu-area .main-menu .rs-menu ul.nav-menu li {
        margin-right: 10px;
    }
    .full-width-header.header-style3.home11-modify2 .rs-header .menu-area .expand-btn-inner {
        margin-left: 15px;
    }
}

@media screen and (min-width: 992px){
   
    .rs-faq-part.style1 .main-part {
        padding: 60px 50px 70px;
    }
    .lg-pr-0 {
        padding-right: 0;
    }
    .lg-pl-0 {
        padding-left: 0;
    }
    .nav-menu .rs-mega-menu > a:after, 
    .nav-menu > .menu-item-has-children > a:after {
        content: "\f107";
        font-family: FontAwesome;
        float: right;
        margin: 2px 0 0 5px;
        display: none;
    }
    .sticky{ 
        background: #fff !important;
        position: fixed !important;
        top: 0px;
        z-index: 999;
        margin: 0 auto !important;
        padding: 0;
        left: 0;
        right: 0;
        width: 100%;
        -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
        -webkit-animation-duration: .5s;
        animation-duration: .5s;
        -webkit-animation-name: sticky-animation;
        animation-name: sticky-animation;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .rs-features .container {
        max-width: 640px;
    }
}
@media only screen and (max-width: 991px) {
    .rs-about .container .row div:first-child {
        order: 1;
    }
    .bg8 {
        padding: 25px 0 25px;
    }
    .rs-footer .footer-bottom::before {
        max-width: 690px;
    }
    .rs-banner.style10 {
        min-height: 650px;
    }
    .rs-banner.style10 .banner-intro-box .shape-img {
        top: 100px;
    }
 
    .rs-banner.style10 .banner-content .sl-title {
        font-size: 45px;
        line-height: 60px;
    }
    .rs-banner.style10 .banner-intro-box .intro-img img {
        display: none;
    }
    .rs-banner.style10 .img-part {
       display: none;
      
    }
    .rs-banner.style10 .banner-intro-box .intro-img {
        position: absolute;
        right: 0%;
        top: 60px;
    }
    .rs-banner.style9 {
        min-height: 375px;
    }
    .rs-banner.style9 .banner-content .banner-title {
        font-size: 25px;
        line-height: 1.2;
    }
    .rs-banner.style9 .banner-content {
        max-width: 515px;
    }
    .rs-features.style3 .features-item .content-part {
        top: 54%;
        left: 44%;
        padding: 0 62px 0;
    }
    .rs-cta.home11-style .content .sec-title2 .desc br{
        display: none;
    } 
    .rs-cta.home11-style .content{
        max-width: 700px;
        margin: 0 auto;
    }
    .rs-categories.home11-style .main-part .categories-item .icon-part {
        margin-right: 15px;
    }
    .rs-categories.home11-style .main-part .categories-item .content-part p {
        padding-right: 36px;
    }
    .rs-popular-courses.home11-style .courses-item .content-part .course-body .title {
        font-size: 21px;
        line-height: 31px;
    }
    .rs-gallery.home11-style .gallery-part .gallery-img img{
       width: 100%;
    }
    .rs-gallery.home11-style .gallery-part .gallery-img .gallery-info p {
       padding-right: 200px;
       padding-left: 200px;
    }
    .rs-blog.style1 .events-short.new-style {
        padding: unset;
        border: none;
    }
    .full-width-header.header-style3.home11-modify2 .rs-header .menu-area .rs-menu-area {
        margin-right: 0;
        margin-left: 0;
    }
    .full-width-header .rs-header .menu-area .responsive-logo {
        display: block;
    }
    .contact-page-section .inner-part .title {
        font-size: 32px;
        line-height: 1.2;      
    }
    .full-width-header.header-style3.modify .rs-header .menu-area .rs-menu-area {
        margin-left: 0;
    }
    .contact-page-section .rs-quick-contact {
        padding: 60px 110px 60px;
    }
    .contact-page-section .inner-part p br {
       display: none;
    }
    .contact-page-section .inner-part p {
        font-size: 17px;
        line-height: 1.2;
    }
    .rs-banner.style8 {
        min-height: 800px;
    }
    .rs-banner.style8 .banner-content .sl-sub-title {
        font-size: 40px;
        line-height: 1.2;
    }
    .rs-banner.style8 .banner-content .sl-title {
        font-size: 66px;
        line-height: 1.2;
        padding-right: 68px;;
    }
    .rs-slider.style2 .slide-part .content .title {
        font-size: 48px;
        line-height: 60px;
    }
    .rs-slider.style2 .owl-carousel .owl-stage-outer {
        margin: 0 0 -70px;
    }
    .rs-event.home8-style1 .event-item .event-short .content-part {
        padding: 25px 20px 30px;
    }
    .rs-event.home8-style1 .event-item .event-short .content-part .time-sec {
        display: inline-flex;
    }
    .rs-features .features-wrap {
        display: block;
        padding: 25px 20px;
    }
    .rs-features .features-wrap .icon-part img {
        margin: 0 0 20px;
    }
    .rs-slider.main-home .slider-content .content-part .sl-title {
        font-size: 60px;
        line-height: 1.3;
    }
    .rs-slider.main-home .slider-content .content-part {
        padding: 200px 35px;
    }
    .sec-title3 .title {
        font-size: 32px;
        line-height: 43px;
    }
    .sec-title3 .desc {
        font-size: 15px;
    }
    .rs-banner.style7 .banner-content .banner-title {
        font-size: 45px;
        line-height: 1.3;
        font-weight: 800;
    }
    .rs-banner.style7 .banner-content {
        max-width: 385px;
    }
    .rs-banner.style7 .icons{
        display: none;
    }
    .rs-banner.style7 .img-part {
        max-width: 415px;
        bottom: 213px;
    }
    .rs-banner.style7 {
        min-height: 628px;
    }
    .rs-services.style7 .services-item .content-part .title {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 10px;
    }
    .rs-services.style7 .services-item .content-part {
        padding: 70px 30px;
        top: 50%;
        transform: translateY(-50%);
    }
    .rs-services.style7 .services-item:hover .content-part {
        top: 45%;
    }
    .rs-facilities .choose-part {
        max-width: 900px;
        margin: 30px 0 0px;
        padding: 60px 50px;
        position: unset;
        top: unset;
        transform: unset;
    }
    .sec-title2 .sub-title {
        font-size: 16px;
        line-height: 23px;
    }
    .sec-title2 .title {
        font-size: 34px;
        line-height: 44px;
    }
    .rs-publication .product-list:hover .image-product .overley i {
        bottom: 250px;
    }
    .container {
        max-width: 720px;
    }
    .rs-banner.style6 .banner-content {
        padding: 182px 0 338px;
    }
    .rs-banner.style6 .banner-content .desc {
        font-size: 18px;
        line-height: 25px;
    }
    .rs-banner.style6 .banner-content .banner-title {
        line-height: 70px;
        font-size: 50px;
    }
    .rs-banner.style6 .shape-img.left {
        left: -90px;
        max-width: 200px;
    }
    .rs-banner.style6 .shape-img.right {
        right: -90px;
        max-width: 200px;
    }
    .rs-banner.style6 .shape-img.center .inner {
        width: 600px;
        height: auto;
    }
    .rs-faq-part.style1 .img-part {     
        height: 70%;
        min-height: 570px;
    }
 
    .rs-faq-part.style1 .main-part .title .text-part {
        font-size: 30px;
        line-height: 40px;
    }
    .rs-faq-part.style1 .main-part {
        padding: 32px 40px 40px;
    }

    /*Menu Part Responsive */
    .full-width-header.header-style3.modify .rs-header .menu-area .logo-part {
        height: 90px;
        line-height: 90px;
        background: unset;
    }
    .full-width-header.header-style3.modify .rs-header .menu-area .logo-part .light-logo {
        display: none;
    }
    .full-width-header.header-style3.modify .rs-header .menu-area .logo-part .small-logo {
        display: block;
    }
    .full-width-header.header-style3.modify .rs-header .menu-area .rs-menu-area {
        width: 100%;
    }

    .full-width-header.home1-modifiy .rs-header .logo-part {
        position: absolute;
        line-height: 90px;
        height: 90px;
    }
    .full-width-header.home8-style4 .rs-header .menu-area .logo-part {
        position: absolute;
        line-height: 90px;
        height: 90px;
    }
    .full-width-header.header-style3.home11-modify2 .rs-header .menu-area .expand-btn-inner .apply-btn {
        display: none;
    }
    .full-width-header .rs-header .menu-area .main-menu .rs-menu ul.nav-menu li a {
        margin: 0;
        padding: 0;
    }
    .full-width-header .rs-header .menu-area .main-menu .rs-menu ul.nav-menu li a::before {
        display: none;
    }
    .rs-event.modify1 .event-item .event-short .content-part {
        text-align: left;
    }
    .rs-event.modify1 .event-item .event-short .content-part .title {
        text-align: left;
        margin-bottom: 10px;
    }
    .rs-event.modify1 .event-item .event-short .content-part {
        padding: 30px 30px 23px 30px;
    }
    .hidden-md {
        display: none;
    }
    .md-text-left {
        text-align: left !important;
    }
    .pt-411 {
        padding-top: 372px;
    }
    .md-pl-pr-15,
    .md-col-padding [class*="col-"] {
        padding-right: 15px !important;
        padding-left: 15px !important;
    }
    .container-fluid {
        padding-left: 15px;
        padding-right: 15px;
    }

    .full-width-header .rs-header .topbar-area {
        display: none;
    }

    .categories-btn {
        display: none;
    }

    .full-width-header .rs-header .menu-area {
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    }
    .full-width-header .rs-header .menu-area .rs-menu-area {
        display: block !important;
    }
    .full-width-header .rs-header .menu-area.sticky {
        position: relative;
    }
    .full-width-header .rs-header .menu-area .expand-btn-inner {
        display: none;
    }

    .full-width-header .rs-header .menu-area .main-menu .rs-menu ul.nav-menu li a{
        color: #394459 !important;
    }
    .full-width-header.home8-style4.main-home .menu-area .rs-menu-area .main-menu .rs-menu ul.nav-menu li a {
        color: #394459 !important;
    }
    .full-width-header.header-style3 .rs-header .menu-area .logo-part {
        left: 15px;
        top: 0;
        transform: unset;
        line-height: 90px;
        z-index: 9;
    }
    .full-width-header.home8-style4.home9 .rs-menu-toggle {
        color: #fff !important;
    }
    .rs-slider.style1 .slider-content {
        padding: 200px 0;
    }
    .rs-slider.style1 .slider-content .sl-sub-title {
        font-size: 35px;
        line-height: 1.2;
        margin-bottom: 10px;
    }
    .rs-slider.style1 .slider-content .sl-title {
        font-size: 70px;
        line-height: 1.2;
    }

    .sec-title .title {
        font-size: 30px;
    }
    .rs-banner.style1 .banner-content .banner-title {
        font-size: 40px;
    }
    .rs-banner.style2 .banner-content .sub-title {
        font-size: 30px;
    }
    .rs-banner.style2 .banner-content .banner-title {
        font-size: 60px;
    }
    .rs-banner.style3 .banner-content .banner-title {
        font-size: 50px;
    }
    .rs-banner.style4 {
        min-height: 750px;
    }
    .rs-banner.style4 .banner-content .banner-title {
        font-size: 45px;
    }
    .rs-banner.style5 {
        min-height: 550px;
    }
    .rs-banner.style5 .banner-content {
        padding-bottom: 130px;
    }
    .rs-banner.style5 .banner-img img {
        max-height: 525px;
    }
    .rs-services.style2 .service-item {
        max-width: 65%;
        margin: 0 auto;
    }
    .rs-cta .cta-img img {
        min-height: 400px;
    }
    .rs-latest-events.bg-wrap:after {
        display: none;
    }
    .rs-latest-events.style1 .event-wrap .events-short {
        display: flex;
        align-items: center;
        padding: 25px 0;
    }
    .why-choose-us .choose-us-part .facilities-part .single-facility {
        float: left;
    }
    .rs-newsletter.style2 .newsletter-wrap {
        padding: 50px 15px;
    }
    .rs-newsletter.style2 .sec-title .title {
        font-size: 28px;
    }
    .rs-newsletter.style2 .sec-title .sub-title {
        font-size: 16px;
    }
    .contact-page-section .contact-address-section .contact-info {
        display: block;
        padding: 20px;
    }
    .contact-page-section .contact-address-section .contact-info .icon-part {
        margin: 0 0 20px;
    }
    .rs-cart .cart-collaterals .cart-totals {
        float: none;
        width: 100%;
    }
    .rs-cart .container{
        max-width: 750px;
    }
    .rs-checkout .container{
        max-width: 750px;
    }

    .course-overview .inner-box .student-list li {
        margin-right: 50px;
    }
    .rs-checkout .full-grid .payment-method {
        background: #ebe9eb;
        border-radius: 5px;
        margin-top: 25px;
        padding: 30px;
    }
    .rs-checkout .full-grid .payment-method .top-area .p-msg {
        position: relative;
        box-sizing: border-box;
        width: 100%;
        padding: 1em;
        margin: 1em 0;
        font-size: .92em;
        border-radius: 2px;
        line-height: 1.5;
        background-color: #dfdcde;
        color: #515151;
    }
    .rs-checkout .full-grid .payment-method .top-area .p-msg::before {
        content: '';
        display: block;
        border: 1em solid #dfdcde;
        border-right-color: transparent;
        border-left-color: transparent;
        border-top-color: transparent;
        position: absolute;
        top: -0.75em;
        left: 0;
        margin: -1em 0 0 2em;
    }
    .rs-page-error .error-text .error-code::after {
        max-width: 90%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .rs-degree.style1 .degree-wrap .content-part {
        padding: 25px 25px 0;
    }
    .rs-degree.style1 .title {
        font-size: 25px;
    }
}

@media only screen and (max-width: 767px) {

    .rs-footer .footer-top .site-map li {
        margin-bottom: 0;
    }
    .rs-footer .footer-bottom::before {
        max-width: 530px;
    }
    .rs-banner.style10 .banner-content .sl-title {
        font-size: 38px;
        line-height: 52px;
    }
    .rs-banner.style10 .banner-content .sl-sub-title {
        font-size: 18px;
        line-height: 23px;
    }
    .rs-testimonial.home11-style .testi-item .user-info::before {
        top: unset;
        right: unset;
        bottom: 100%;
        left: 30px;
        border-right-color: transparent;
        border-bottom-color: #e7f9fb;
    }
    .rs-cta.home11-style .content {
        max-width: 515px;
        margin: 0 auto;
    }
    .rs-features.style3 .features-item .content-part {
        top: 50%;
        left: 50%;
        padding: 20px 138px 0;
    }
    .rs-features.style3 .features-item {
        text-align: center;
    }
    .rs-popular-courses.home11-style .courses-item .content-part .course-body p {
        padding-right: 35px;
        padding-left: 35px;
    }
    .rs-gallery.home11-style .gallery-part .gallery-img .gallery-info p {
       padding-right: 100px;
       padding-left: 100px;
    }
    .rs-blog.style1 .events-short.new-style {
        padding: 0px;
        border: none;
    }
    .rs-blog.style1.home11-style .blog-item .image-part a img {
        width: 100%;
    }
    .contact-page-section .rs-contact-box .address-item {
        padding: 40px 30px 40px 30px;
    }
    .contact-page-section .rs-contact-box .address-item .address-text .label {
        font-size: 20px;
    }
    .contact-page-section .rs-contact-box .address-item .address-text .des {
        font-size: 15px;
    }
    .contact-page-section .rs-contact-box .address-item .icon-part img {
        width: 60px;
    }
    .contact-page-section .rs-contact-box .address-item .icon-part {
        padding-bottom: 15px;
    }
    .rs-banner.style8 .banner-content .sl-sub-title {
        font-size: 34px;
        line-height: 1.2;
    }
    .rs-banner.style8 .banner-content .sl-title {
        font-size: 50px;
        line-height: 1.2;
        padding-right: 64px;
    }
    .rs-banner.style8 {
        min-height: 700px;
    }
    .rs-video-home9 {
        padding: 233px 0 233px;
    }
    .rs-slider.style2 .slide-part .content .title {
        font-size: 34px;
        line-height: 44px;
    }

    .rs-slider.main-home .slider-content .content-part {
        padding: 175px 15px 100px;
    }
    .rs-slider.main-home .slider-content .content-part .sl-sub-title {
        font-size: 20px;
        margin-bottom: 10px;
    }
    .rs-slider.main-home .slider-content .content-part .sl-title {
        font-size: 48px;
        margin-bottom: 50px;
    }
    .rs-features {
        margin-top: 70px;
    }
 
    .container {
        max-width: 540px;
    }
    .rs-recipes .sec-title3 .desc br {
        display: none;
    }
    .sec-title2 .title {
        font-size: 30px;
        line-height: 1.4;
    }
    .rs-featured-courses .courses-item .content-part .images {
        padding-bottom: 35px;
    }
    .rs-footer .footer-top .widget-title {
        font-size: 16px;
        line-height: 24px;
    }
    .rs-banner.style7 {
        min-height: 550px;
    }
    .rs-banner.style7 .banner-content {
        max-width: 100%;
        padding: 150px 0 0;
    }
    .rs-banner.style7 .banner-content .banner-title {
        font-size: 34px;
        line-height: 48px;      
    }
    .rs-banner.style7 .img-part {
        display: none;
    }
   
    .rs-publication .product-list:hover .image-product .overley i {
        bottom: 420px;
    }
    .rs-banner.style6 .banner-content .banner-title {
        line-height: 63px;
        font-size: 43px;
    }
    .rs-services.style6 .sec-title .title {
        font-size: 29px;
    }
    .rs-services.style6 .sec-title p {
        padding: 0 30px 0;
        font-size: 14px;
    }
    .rs-footer .footer-bottom {
        padding: 15px 0;
    }
    .hidden-sm {
        display: none;
    }
    .sm-text-center {
        text-align: center !important;
    }
    .sm-text-left {
        text-align: left !important;
    }
    .sec-title .title {
        font-size: 30px;
    }
    .sec-title .sub-title {
        font-size: 16px;
    }

    .full-width-header.header-style3 .rs-header .menu-area .menu-bg::before {
        display: none;
    }
    .rs-slider.style1 .slider-content {
        padding: 175px 0;
    }
    .rs-slider.style1 .slider-content .sl-sub-title {
        font-size: 30px;
    }
    .rs-slider.style1 .slider-content .sl-title {
        font-size: 50px;
        margin-bottom: 30px;
    }

    .rs-banner.style1 .banner-content .banner-title {
        font-size: 35px;
    }
    .rs-banner.style2 {
        height: auto;
        min-height: 500px;
    }
    .rs-banner .banner-content .desc br,
    .rs-banner.style3 .banner-content .banner-desc br {
        display: none;
    }
    .rs-banner.style2 .banner-content .banner-title {
        font-size: 50px;
    }
    .rs-banner.style3 .banner-content .banner-title {
        font-size: 40px;
    }
    .rs-banner.style4 {
        min-height: 650px;
    }
    .rs-banner.style4 .banner-content .banner-title {
        font-size: 40px;
    }
    .rs-banner.style5 {
        min-height: 500px;
    }
    .rs-banner.style5 .banner-content {
        padding-bottom: 115px;
    }
    .rs-banner.style5 .banner-content .banner-title {
        font-size: 50px;
    }

    .rs-banner.style6 .banner-content .banner-title {
        margin-bottom: 15px;
    }
    .rs-banner.style6 .banner-content .desc {
        margin-bottom: 30px;
    }
    .rs-banner.style6 .banner-content {
        padding: 182px 0 275px;
    }
    .rs-banner.style6 .shape-img.left {
        left: -25px;
        max-width: 160px;
    }
    .rs-banner.style6 .shape-img.right {
        right: -70px;
        max-width: 150px;
    }
    .rs-banner.style6 .shape-img.center .inner {
        width: 500px;
    }

    .rs-breadcrumbs .breadcrumbs-text .page-title {
        font-size: 40px;
        margin: 0 15px 15px;
    }
    .rs-cta .cta-img img {
        min-height: 350px;
    }
    .free-course-contact .title {
        font-size: 30px;
    }
    .contact-page-section .contact-comment-section {
        padding: 50px 30px;
    }
    .contact-page-section .contact-comment-section h3 {
        font-size: 30px;
    }
    .contact-page-section .contact-comment-section p br {
        display: none;
    }
    .contact-page-section .contact-map iframe {
        height: 450px;
    }

    .profile-section .content-column h2 {
        font-size: 32px;
    }
    .profile-section .content-column h4 {
        font-size: 20px;
    }
    .profile-section .content-column h5 {
        font-size: 22px;
    }
    .intro-section .intro-tabs .tab-btns {
        width: 45%;
        margin: 0 15px 15px 0;
    }
    .intro-section .intro-tabs .tab-btns .tab-btn {
        padding: 10px 20px;
    }
    .rs-footer .footer-bottom {
        padding: 30px 0;
    }
    .rs-cart .container{
        max-width: 550px;
    }
   
    .rs-cart .cart-wrap table.cart-table .action .coupon input {
        margin-bottom: 20px;
        width: 100%;
    }
    .rs-cart .cart-wrap table.cart-table .action .coupon {
        float: none;
        margin-bottom: 20px;
    }
    .rs-cart .btn-shop{
        width: 100%;
    } 
  
    .rs-cart .cart-wrap table.cart-table td {
        display: block;
        border-right: 1px solid #e6e6e6;
    }
    .rs-cart .cart-body .cart-detail table tr th, .rs-cart .cart-body .cart-detail table tr td {
        display: none;
    }
    .rs-cart .cart-wrap table.cart-table th {
        display: none;
    }
    .rs-checkout .container{
        max-width: 650px;
    }
    .rs-event .event-item .event-short .featured-img img {
        width: 100%;
    }
    .rs-gallery .gallery-img img{
        width: 100%;
    }
    .rs-login .noticed .login {
        font-size: 30px;
        line-height: 40px;
    }
    .rs-latest-couses .course-item .course-info .course-title {
        font-size: 20px;
        line-height: 30px;
    }
}


@media only screen and (max-width: 575px) {
    .bg8 {
        background: none;
        padding: 50px 0 50px;
    }
    .rs-free-contact textarea {
        height: 100px;
    }
    .rs-banner.style9 {
        min-height: 350px;
    } 
    .rs-banner.style9 .banner-content {
        max-width: 420px;
    }
    
    .rs-banner.style9 .banner-content .banner-title {
        font-size: 21px;
        line-height: 1.2;
    }
    .rs-cta.home11-style .content {
        max-width: 440px;
        margin: 0 auto;
    }
   .rs-features.style3 .features-item .content-part {
        padding: 10px 130px 0;
    }
    .rs-banner.style8 {
        min-height: 600px;
    }
    .rs-banner.style7 .img-part {
        display: none;
    }
    .rs-banner.style7 .banner-content {
        margin: 0 auto;
    }
   .rs-facilities .choose-part .our-facilities {
        display: flex;
        align-items: unset;
    }
    .rs-facilities .choose-part {
        padding: 50px 25px;
      
    }
    .rs-facilities .choose-part .our-facilities .content-part .text-part .desc {
        font-size: 14px;
        line-height: 24px;
        padding: 0 55px 0 0;
    }
    .rs-facilities .choose-part .our-facilities .content-part .text-part .title {
        font-size: 22px;
        line-height: 24px;
    }
    .rs-publication .product-list .image-product .overley i {
        bottom: unset;
        top: 0;
        right: 15px;
    }
    .rs-publication .product-list:hover .image-product .overley i {
        top: 30px;
    }
    .rs-slider.style1 .slider-content .sl-sub-title {
        font-size: 25px;
    }
    .rs-slider.style1 .slider-content .sl-title {
        font-size: 40px;
        margin-bottom: 20px;
    }
    .rs-banner.style1 .banner-content .banner-title {
        font-size: 30px;
    }
    .rs-banner.style5 {
        min-height: 400px;
    }
    .rs-banner.style2 .banner-content .sub-title {
        font-size: 20px;
        margin-bottom: 10px;
    }
    .rs-banner.style2 .banner-content .banner-title {
        font-size: 33px;
        margin-bottom: 25px;
    }
    .rs-banner.style3 {
        min-height: 400px;
    }
    .rs-banner.style4 .banner-content .banner-title {
        font-size: 35px;
    }
    .rs-banner.style5 .banner-content {
        padding-bottom: 100px;
    }
    .rs-banner.style5 .banner-content .sub-title {
        font-size: 18px;
        margin-bottom: 10px;
    }
    .rs-banner.style5 .banner-content .banner-title {
        font-size: 35px;
        margin-bottom: 30px;
    }
    .rs-banner.style6 .shape-img.left,
    .rs-banner.style6 .shape-img.right {
        display: none;
    }
    .rs-banner.style6 .shape-img {
        bottom: 0;
    }
    .rs-breadcrumbs .breadcrumbs-img img {
        min-height: 250px;
    }
    .rs-breadcrumbs .breadcrumbs-text .page-title {
        font-size: 35px;
    }

    .rs-services.style2 .service-item {
        max-width: 100%;
    }
    .rs-about-video .video-img-part img {
        min-height: 300px;
    }
    .rs-cta .cta-content {
        padding: 0 15px;
    }
    .rs-latest-events.style1 .event-wrap .events-short {
        display: block;
    }
    .rs-latest-events.style1 .event-wrap .events-short {
        padding: 0;
    }
    .rs-latest-events.style1 .event-wrap .events-short .date-part {
        float: unset;
        width: 100%;
        margin: 0 0 25px;
    }
    .rs-newsletter.style2 .newsletter-wrap .newsletter-form input {
        padding-right: 100px;
    }
    .rs-newsletter.style2 .newsletter-wrap .newsletter-form button {
        padding: 17px 25px;
    }
    .rs-carousel.nav-style2 .owl-nav {
        display: none;
    }
    .profile-section .content-column h5 {
        font-size: 20px;
    }
    .profile-section .content-column .inner-column p {
        margin-top: 0;
    }
    .profile-section .content-column .student-list li {
        display: block;
        margin: 0 0 15px;
    }
    .course-overview .inner-box .student-list li {
        margin: 0 0 15px;
        display: block;
    }
    .intro-section .intro-tabs .tab-btns {
        width: 100%; 
        margin: 0 0 15px;
    }

}

@media only screen and (max-width: 480px) {
    .rs-free-contact {
        padding: 40px 20px;
    }
    .rs-banner.style10 .banner-content {
        padding: 120px 10px 100px;
    }
    .rs-banner.style10 .banner-content .sl-title {
        font-size: 23px;
        line-height: 40px;
    }
    .rs-banner.style10 .banner-intro-box .shape-img img {
        width: 65px;
    }
    .rs-banner.style10 .banner-content .sl-sub-title {
        font-size: 17px;
        line-height: 23px;
    }
    .sec-title4 .title {
        font-size: 22px;
        line-height: 32px;
    }
    .rs-faq-part.style1 .main-part.new-style .title .text-part{
        font-size: 20px;
    }
    .rs-faq-part.style1 .main-part.new-style .faq-content .accordion .card .card-header .card-link {
        font-size: 12px;
        padding-right: 0px;
        padding-left: 41px;
    }
    .rs-faq-part.style1 .main-part.new-style .faq-content .accordion .card .card-body {
        padding: 20px 12px 28px !important;
        font-size: 12px;
    }
    .rs-event .event-item.home12-style .event-short .content-part .all-dates-time .address {
        padding-right: 0px;
        padding-bottom: 5px;
    }
    .rs-download-app .mobile-img .apps-image img {
        max-width: 140px;
    }
    .rs-event .event-item.home12-style .event-short .content-part .all-dates-time {
        display: block;
        padding-bottom: 10px;
    }
    .rs-event .event-item.home12-style .event-short .content-part .event-btm .btn-part a {
        padding: 5px 13px;
        font-size: 13px;
    }
    .sec-title4 .title{
        font-size: 26px;
        line-height: 36px;
    }
    .sec-title4 .sub-title{
        font-size: 15px;
        line-height: 26px;
    }
    .rs-faq-part.style1 .main-part.new-style .title .text-part {
        font-size: 19px;
    }
    .rs-banner.style9 .banner-content .banner-title {
        font-size: 17px;
        line-height: 1.2;
    }
    .rs-banner.style9 {
        min-height: 300px;
    }
    .rs-banner.style9 .banner-content {
        max-width: 315px;        
    }
    .rs-cta.home11-style .content .sec-title2 .title{
        font-size: 17px;
    } 
    .rs-cta.home11-style .content {
        max-width: 315px;
        margin: 0 auto;
    }
    .rs-features.style3 .features-item .content-part .title {
        font-size: 17px;
        line-height: 27px;
        margin-bottom: 4px;
    }
    .rs-features.style3 .features-item .content-part {
        padding: 20px 80px 0;
    }
    .rs-categories.home11-style .main-part .categories-item .content-part .title {
        font-size: 17px;
        line-height: 1.2;
    }
    .rs-popular-courses.home11-style .courses-item .content-part .course-body .title {
        font-size: 19px;
        line-height: 30px;
    }
    .rs-popular-courses.home11-style .courses-item .content-part .course-body p {
        padding-left: 0;
        padding-right: 0;
    }
    .rs-testimonial.home11-style .testi-item .user-info .desc {
        margin-bottom: 10px;
    }
    .rs-testimonial.home11-style .testi-item .user-info .name {
        font-size: 18px;
    }
    .rs-gallery.home11-style .gallery-part .gallery-img .gallery-info p {
       padding-right: 20px;
       padding-left: 20px;
    }
    .rs-newsletter.style2.home11-style .sec-title2 .title {
        font-size: 29px;
        line-height: 1.2;
    }
    .rs-blog.style1 .events-short.new-style .content-part .categorie .timesec {
        font-size: 10px;
        line-height: 10px;
    }
    .rs-blog.style1 .events-short.new-style .content-part .title {
        font-size: 13px;
    }
    .rs-blog.style1 .blog-item .blog-content .title, .rs-blog.style1 .events-short .content-part .title {
        font-size: 19px;
    }
    .contact-page-section .rs-quick-contact.new-style {
        padding: 60px 20px 60px;
    }
    .contact-page-section .rs-quick-contact {
        padding: 60px 20px 60px;
    }
    .contact-page-section .rs-contact-wrap .address-item .address-text .des {
        font-size: 16px;
        line-height: 1.1;
    }
    .contact-page-section .contact-address-section .contact-info {
        display: flex;
        padding: 20px;
    }
    .contact-page-section .contact-address-section .contact-info .content-part .info-title {
        font-size: 16px;
        line-height: 1.2;
    }
    .contact-page-section .contact-address-section .contact-info .icon-part {
        margin: unset;
        padding-right: 15px;
    }
    .contact-page-section .rs-contact-wrap {
        padding: 40px 20px 30px 20px;
    }
    .rs-banner.style8 {
        min-height: 500px;
    }
    .rs-banner.style8 .banner-content .sl-title {
        font-size: 32px;
        line-height: 1.2;
        padding-right: 0;
    }
    .rs-banner.style8 .banner-content .sl-sub-title {
        font-size: 22px;
        line-height: 1;
    }
    .contact-page-section .inner-part p {
        font-size: 15px;
        line-height: 1.2;
    }
    .contact-page-section .inner-part .title {
        font-size: 28px;
        line-height: 1.2;
    }
    .contact-page-section .rs-quick-contact.new-style {
        padding: 70px 20px 70px;
    }
    .rs-slider.main-home .slider-content .content-part .sl-sub-title {
        font-size: 18px;
    }
    .rs-slider.main-home .slider-content .content-part .sl-title {
        font-size: 35px;
        margin-bottom: 30px;
    }
    .rs-faq-part.style1 .img-part {
        height: auto;
        min-height: 400px;
    }
    .rs-faq-part.style1 .main-part {
        padding: 30px 15px;
    }
    .rs-faq-part.style1 .main-part .faq-content .accordion .card .card-header .card-link {
        height: 50px;
        line-height: 50px;
    }
    .rs-recipes .sec-title3 .title {
        font-size: 24px;
        line-height: 36px;
    }
    .rs-event.home8-style1 .event-item .event-short .content-part .time-sec {
        display: unset;
    }
    .sec-title3 .sub-title {
        font-size: 14px;
        line-height: 26px;
    }
    .sec-title3 .title {
        font-size: 26px;
        line-height: 36px;
    }
    .sec-title2 .title {
        font-size: 25px;
    }
    .rs-banner.style7 .banner-content .banner-title {
        font-size: 25px;
        line-height: 35px;
    }

    .rs-banner.style7 .banner-content {
        max-width: 250px;
        margin: 0 auto;
    }
    .rs-facilities .choose-part .our-facilities .icon-part img {
        max-width: 40px;
    }
    .rs-facilities .choose-part .our-facilities .content-part .text-part {
        padding-left: 15px;
    }
    .rs-facilities .choose-part .our-facilities .content-part .text-part .title {
        font-size: 19px;
        line-height: 21px;
    }
    .rs-latest-couses .course-item .course-image a {
        width: 170px;
        height: 170px;
        margin: 0 auto 15px;
    }
    .rs-latest-couses .course-item {
        display: block;
        border-radius: 0;
        text-align: center;
        padding: 30px 0;
    }
    .rs-slider.style1 .slider-content .sl-sub-title {
        font-size: 20px;
    }
    .rs-slider.style1 .slider-content .sl-title {
        font-size: 33px;
    }
    .rs-faq-part.style1 .main-part .title .text-part {
        font-size: 22px;
        line-height: 32px;
    }
    .sec-title .title {
        font-size: 25px;
    }
    .full-width-header.header-style3.modify .rs-header .menu-area .logo-part {
        width: 175px;
    }
    .rs-banner.style1 .banner-content .banner-title {
        font-size: 25px;
    }
    .rs-banner.style1 .banner-content .desc {
        font-size: 18px;
    }
    .rs-banner.style3 .banner-content .banner-title {
        font-size: 30px;
    }
    .rs-banner.style3 .banner-content .banner-desc {
        font-size: 16px;
    }
    .rs-banner.style3 .banner-content .banner-btn li {
        display: block;
        margin: 0 0 15px;
    }
    .rs-banner.style4 .banner-content .banner-title {
        font-size: 32px;
    }
    .rs-banner.style6 .banner-content {
        padding: 150px 0 250px;
    }
    .rs-banner.style6 .shape-img.center .inner {
        width: 350px;
    }
    .rs-banner.style6 .banner-content .banner-title {
        font-size: 35px;
        line-height: 1.3;
        margin-bottom: 10px;
    }
    .rs-banner.style6 .banner-content .desc {
        margin-bottom: 20px;
    }
    .rs-breadcrumbs .breadcrumbs-text .page-title {
        font-size: 30px;
    }
    .rs-degree.style1 .title {
        font-size: 25px;
    }    
    .rs-degree.style1.modify .title {
        font-size: 20px;
    }
    .rs-degree.style1.modify .degree-wrap .content-part {
        padding: 30px 15px 0;
    }
    .rs-cta .sec-title .title {
        font-size: 23px;
    }
    .why-choose-us .choose-us-part .facilities-part .single-facility .icon-part {
        float: unset;
        margin: 0 0 5px;
        /* display: inline-block; */
    }
    .free-course-contact {
        padding: 40px 15px 50px;
    }
    .free-course-contact .title {
        font-size: 25px;
    }
    .contact-page-section .contact-comment-section {
        padding: 50px 15px;
    }

    .contact-page-section .contact-map iframe {
        height: 400px;
    }
    .rs-blog.style1 .events-short {
        padding: 20px;
    }
    .rs-blog.style1 .events-short .date-part {
        width: 75px;
        padding: 10px 0 15px;
    }
    .rs-blog.style1 .events-short .date-part .date {
        font-size: 15px;
    }
    .profile-section .image-column .inner-column {
        padding: 30px 25px;
    }
    .profile-section .content-column h2 {
        font-size: 30px;
        margin-bottom: 15px;
    }
    .profile-section .content-column h4 {
        font-size: 17px;
    }
    .profile-section .content-column .student-list {
        margin-bottom: 30px;
    }
    .profile-section .image-column .text {
        font-size: 16px;
        font-weight: 500;
    }
    .course-overview .inner-box {
        padding: 0 20px 20px;
    }
    .accordion-box .block .content {
        padding: 0 0 25px;
    }
    .accordion-box .block .play-icon .fa {
        margin: 0;
        margin-right: 15px;
    }
    .accordion-box .block .play-icon::before {
        left: 20px;
    }
    .intro-section .video-column .course-features-info {
        padding: 20px;
    }
    .intro-section .video-column .btn-part {
        padding: 30px 30px 15px;
    }
    .cource-review-box {
        padding: 0 20px;
    }
    .course-overview .inner-box h4 {
        font-size: 20px;
    }
    .rs-inner-blog .blog-item .blog-content {
        padding: 25px 15px 30px;
    }
    .rs-inner-blog .blog-item .blog-content .blog-meta .btm-cate {
        display: block;
    }
    .rs-inner-blog .blog-item .blog-content .blog-meta .btm-cate li {
        margin-bottom: 10px;
    }
    .rs-inner-blog .blog-deatails .blog-full .single-post-meta li .p-date {
        margin-right: 0px;
    }
    .rs-inner-blog .blog-deatails .blog-full .single-post-meta {
        display: block;
        padding: 0 0 20px;
    }
    .rs-inner-blog .blog-deatails .blog-full .title {
        font-size: 20px;
        line-height: 28px;

    }
    .rs-inner-blog .blog-deatails .blog-full {
        padding: 15px 15px 15px;
    }
    .rs-inner-blog .comment-area .comment-full .reply-title {
        margin-bottom: 0px;
        margin-top: 15px;
    }
    .rs-inner-blog .blog-deatails .blog-full .sm-title {
        margin-bottom: 16px;
    }
    .rs-inner-blog .blog-deatails .blog-full .title {
        margin-bottom: 15px;
    }
    blockquote {
        padding: 20px;
    }
    .rs-event .event-item .event-short .content-part .title {
        font-size: 18px;
        line-height: 28px;
    }
    .rs-event .event-item .event-short .content-part {
        padding: 15px 15px 15px 20px;
    }
    .rs-event.modify1 .event-item .event-short .content-part .time-sec {
        display: block;
    }
    .rs-event.modify1 .event-item .event-short .content-part .time-sec .timesec {
        margin-right: 0;
    }
    .profile-section .content-part .title {
       font-size: 20px;
    }
    .rs-faq-part.style1 .main-part .faq-content .accordion .card .card-header .card-link {
        font-size: 14px;
        padding-right: 15px;
        padding-left: 35px;
    }
    .rs-faq-part.style1 .main-part .faq-content .accordion .card .card-header .card-link::after {
        left: 8px;
    }
    .rs-faq-part.style1 .main-part .faq-content .accordion .card .card-body {
        font-size: 14px;
        padding: 12px 10px 12px !important;
    }
    .rs-facilities .choose-part .our-facilities {
        display: inline-block;
    }

    .rs-facilities .choose-part .our-facilities .icon-part {
        margin: 0 0 15px;
    }
    .rs-facilities .choose-part .our-facilities .content-part .text-part {
        padding-left: 0;
        max-width: 350px;
    }
    .rs-facilities .choose-part .our-facilities .content-part .text-part .desc br {
        display: none;
    }
    .rs-inner-blog .widget-area .recent-posts-widget .show-featured .post-img {
        margin-bottom: 15px;
    }
}
@media only screen and (min-width: 992px) {
    .media-icon.orange-color2 img {
        max-width: 700px;
    }
}